.about-section {
  width: 100%;
  background-color: #092370;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
  overflow: hidden;
}

.about-left {
  flex: 1;
  z-index: 2;
}

.about-small {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff80;
}

.about-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 80px;
  max-width: 500px;
  color: white;
  z-index: 2;
}

.about-text {
  font-size: 32px;
  line-height: 1.6;
}

.about-text .highlight {
  color: #feb808;
  font-weight: bold;
}

.about-btn {
  background-color: #feb808;
  border: none;
  color: #092370;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.about-btn:hover {
  opacity: 0.85;
}

.about-shape {
  position: absolute;
  right: 0;
  top: 40px;
  bottom: 40px;
  max-height: calc(100% - 80px);
  width: auto;
  pointer-events: none;
  z-index: 1;
  object-fit: contain;
}

/* ---------------------- */
/* RESPONSIVE DESKTOP <-> TABLET */
/* ---------------------- */

@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }

  .about-right {
    padding-right: 0;
    max-width: 100%;
  }

  .about-text {
    font-size: 24px;
  }
  .about-btn {
    margin: 0 auto;
  }
  .about-shape {
    display: none !important;
  }
}

/* ---------------------- */
/* MOBILE */
/* ---------------------- */

@media (max-width: 768px) {
  .about-text {
    font-size: 18px;
  }

  .about-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
