.ctta {
  background: #000;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.ctta-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.ctta-title span {
  color: #FDB909;
}

.ctta-sub {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 40px;
}

.ctta-btn {
  background: #FEB808;
  color: black;
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}

.ctta-btn:hover {
  opacity: 0.85;
}
